

<style>
    table tr:hover {
        background-color: #0275d8;
        color: #fff;
    }

    table tr:first-child:hover {
        background-color: white;
        color: #000000;
    }

    table tr th {
        text-align: center;
        background-color: #fff;
    }

    table tr td {
        text-align: center;
        word-wrap: break-word;
    }
</style>

<!--spinner-->
<link href="~/Content/bootstrap-4.3.1/bootstrap.css" rel="stylesheet" />
<!--table-->
<link href="~/Content/Account/bootstrap_AccountIndex.css" rel="stylesheet" />



<!--<br id="Message1"/>-->
@{
    ViewBag.Title = "Access";
}
<hr />
<h2>@ViewBag.Title.</h2>

<hr />

<h4>1. Select User.</h4>

<div id="Message2"></div>

<br/>

<div class="AIpanel AIpanel-default">
    <div class="AIpanel-heading">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <!--<label for="button101" class="text-secondary">Filter</label>-->
                    <button id="btn_1" type="button" class="btn btn-primary btn-block RKbtn">
                        Filter
                        <span class="glyphicon glyphicon-filter"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="Filter_1" class="AIpanel-body collapse">
        <div class="container">
            <div class="AIrow">
                <div class="col-md-3">
                    <button id="btn_2" type="button" class="btn btn-danger btn-block RKbtn">
                        Close Filter
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                </div>
                <div class="col-md-3">
                    <button id="btn_5" type="button" class="btn btn-primary btn-block RKbtn">Clear Filter</button>
                </div>
                @*<div class="col-md-6">
                        <label for="button101">Action</label>-->
                        @Html.ActionLink("Get filtered data", "Index", "Employee",
                            new
                            {
                                @SortOrder = ViewBag.SortOrder,
                                @CurrentSort = ViewBag.CurrentSort,
                                @PreviousSort = ViewBag.PreviousSort,
                                @CurrentPage = ViewBag.CurrentPage,
                                @PreviousPage = ViewBag.PreviousPage,
                                @gotopage = true
                            }, new { @id = "button101", @type = "button", @class = "btn btn-success btn-block" })
                    </div>*@
            </div>
            <div class="AIrow">
                <div class="col-md-3">
                    <label for="user_name" class="RKtext-secondary">User Name</label>
                    <input type="text" class="form-control" id="user_name" aria-describedby="basic-addon3" placeholder="User Name">
                </div>

                <div class="col-md-3">
                    <label for="email" class="RKtext-secondary">Email</label>
                    <input type="text" class="form-control" id="email" aria-describedby="basic-addon3" placeholder="Email">
                </div>
             </div>

            </div>
    </div>
    <div class="AIpanel-heading">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <!--<label for="button101" class="text-secondary">Sorting</label>-->
                    <button id="btn_3" type="button" class="btn btn-primary btn-block RKbtn">
                        Sorting
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="Sorting_1" class="AIpanel-body collapse">
        <div class="container">
            <div class="AIrow">
                <div class="col-md-3">
                    <button id="btn_4" type="button" class="btn btn-danger btn-block RKbtn">
                        Close Sorting
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                </div>

            </div>
            <div class="AIrow">
                <div class="col-md-3">
                    <label for="sel1" class="RKtext-secondary">Sort by</label>
                    <select class="form-control" id="sel1">
                        <option selected>User Name</option>
                        <option value="Email">Email</option>
                        </select>
                </div>
                <div class="col-md-3">
                    <label for="sel2" class="RKtext-secondary">Sorting Order</label>
                    <select class="form-control" id="sel2">
                        <option selected>Asc</option>
                        <option value="Desc">Desc</option>
                    </select>
                </div>


            </div>



        </div>
    </div>

    <div class="AIpanel-heading">
        <div class="container">
            <div class="row">
                @*<div class="col-md-6">
                        <label for="button101" class="text-secondary">Data</label>
                        @Html.ActionLink("Get all data", "Index", "Employee",
                            new
                            {
                                @SortOrder = ViewBag.SortOrder,
                                @CurrentSort = ViewBag.CurrentSort,
                                @PreviousSort = ViewBag.PreviousSort,
                                @CurrentPage = ViewBag.CurrentPage,
                                @PreviousPage = ViewBag.PreviousPage,
                                @gotopage = true,
                            }, new {@id = "button101", @type = "button", @class = "btn btn-success btn-block"})
                    </div>*@
                <div class="col-md-6 col-lg-3">
                    <div class="input-group RKinput-group">
                        @*<label for="sel3" class="text-secondary">Elements per page</label>*@
                        <select class="form-control" id="sel3">
                            <option selected>1</option>
                            <option value="2">2</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="40">40</option>
                            <option value="80">80</option>
                            <option value="100">100</option>
                            <option value="200">200</option>
                            <option value="400">400</option>
                            <option value="800">800</option>
                            <option value="1000">1000</option>
                        </select>
                        <span class="input-group-addon" id="basic-addon1"> Items/Page</span>
                    </div>
                </div>

                @*<div class="col-md-6">
                    <div class="form-group">
                        <label for="sel3" class="RKtext-secondary">Elemenets/Page</label>
                        <select class="form-control" id="sel3">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="4">4</option>
                            <option value="8">8</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="40">40</option>
                            <option value="80">80</option>
                            <option value="100">100</option>
                            <option value="200">200</option>

                        </select>
                    </div>
                </div>*@

                <div class="col-md-3">
                    @*<label for="button102" class="RKtext-transparentOnGrey">--</label>*@
                    <input type="button" id="button102" class="btn btn-success btn-block RKbtn" onclick="button102()" value="Get Users">
                    @*@Html.ActionLink("Go to page", "Index", "Employee",
                        new
                        {
                            @SortOrder = ViewBag.SortOrder,
                            @CurrentSort = ViewBag.CurrentSort,
                            @PreviousSort = ViewBag.PreviousSort,
                            @CurrentPage = ViewBag.CurrentPage,
                            @PreviousPage = ViewBag.PreviousPage,
                            @gotopage = true
                        }, new { @id = "button101", @type = "button", @class = "btn btn-primary btn-block" })*@
                </div>
            </div>

        </div>
    </div>

    <div class="panel-footer">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
</div>

<div class="container">
    <div id="spinner1" class="spinner-border text-primary d-none" role="status"></div>
</div>
<div id="Tab1">

</div>


<br/>
@******************************************************The Points List of the selected User**********************************************@
<hr/>
<h4>2. Set Access for the chosen user.</h4>
<br />

<!-- Points List -->
<div id="Message21"></div>

<div id="PointsId" class="AIpanel AIpanel-default" style="display: none">
    <div class="AIpanel-heading">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <!--<label for="button101" class="text-secondary">Filter</label>-->
                    <button id="btn_11" type="button" class="btn btn-primary btn-block RKbtn">
                        Filter
                        <span class="glyphicon glyphicon-filter"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="Filter_11" class="AIpanel-body collapse">
        <div class="container">
            <div class="AIrow">
                <div class="col-md-3">
                    <button id="btn_21" type="button" class="btn btn-danger btn-block RKbtn">
                        Close Filter
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                </div>
                <div class="col-md-3">
                    <button id="btn_51" type="button" class="btn btn-primary btn-block RKbtn">Clear Filter</button>
                </div>
                @*<div class="col-md-6">
                        <label for="button101">Action</label>-->
                        @Html.ActionLink("Get filtered data", "Index", "Employee",
                            new
                            {
                                @SortOrder = ViewBag.SortOrder,
                                @CurrentSort = ViewBag.CurrentSort,
                                @PreviousSort = ViewBag.PreviousSort,
                                @CurrentPage = ViewBag.CurrentPage,
                                @PreviousPage = ViewBag.PreviousPage,
                                @gotopage = true
                            }, new { @id = "button101", @type = "button", @class = "btn btn-success btn-block" })
                    </div>*@
            </div>
            <div class="AIrow">
                <div class="col-md-3">
                    <label for="point_name" class="RKtext-secondary">Point Name</label>
                    <input type="text" class="form-control" id="point_name" aria-describedby="basic-addon3" placeholder="Point Name">
                </div>

                <div class="col-md-3">
                    <label for="table_name" class="RKtext-secondary">Table Name</label>
                    <input type="text" class="form-control" id="table_name" aria-describedby="basic-addon3" placeholder="Table Name">
                </div>

                <div class="col-md-3">
                    <label for="database_name" class="RKtext-secondary">Database Name</label>
                    <input type="text" class="form-control" id="database_name" aria-describedby="basic-addon3" placeholder="Database Name">
                </div>
            </div>

            <div class="AIrow">
                <div class="col-md-3">
                    <label for="Tag1" class="RKtext-secondary">Tag 1</label>
                    <input type="text" class="form-control" id="Tag1" aria-describedby="basic-addon3" placeholder="Tag 1">
                </div>
                <div class="col-md-3">
                    <label for="Tag2" class="RKtext-secondary">Tag 2</label>
                    <input type="text" class="form-control" id="Tag2" aria-describedby="basic-addon3" placeholder="Tag 2">
                </div>
                <div class="col-md-3">
                    <label for="Tag3" class="RKtext-secondary">Tag 3</label>
                    <input type="text" class="form-control" id="Tag3" aria-describedby="basic-addon3" placeholder="Tag 3">
                </div>

            </div>


            

        </div>
    </div>
    <div class="AIpanel-heading">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <!--<label for="button101" class="text-secondary">Sorting</label>-->
                    <button id="btn_31" type="button" class="btn btn-primary btn-block RKbtn">
                        Sorting
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="Sorting_11" class="AIpanel-body collapse">
        <div class="container">
            <div class="AIrow">
                <div class="col-md-3">
                    <button id="btn_41" type="button" class="btn btn-danger btn-block RKbtn">
                        Close Sorting
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                </div>

            </div>
            <div class="AIrow">
                <div class="col-md-3">
                    <label for="sel12" class="RKtext-secondary">Sort by</label>
                    <select class="form-control" id="sel12">
                        <option selected>Point Name</option>
                        <option value="Email">Table Name</option>
                        <option value="Email">Database Name</option>
                        <option value="Email">Tag 1</option>
                        <option value="Email">Tag 2</option>
                        <option value="Email">Tag 3</option>
                        <!--<option value="Email">MUT</option>-->
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="sel22" class="RKtext-secondary">Sorting Order</label>
                    <select class="form-control" id="sel22">
                        <option selected>Asc</option>
                        <option value="Desc">Desc</option>
                    </select>
                </div>


            </div>



        </div>
    </div>

<div class="AIpanel-heading">
    <div class="container">
        <div class="row">
            @*<div class="col-md-6">
                        <label for="button101" class="text-secondary">Data</label>
                        @Html.ActionLink("Get all data", "Index", "Employee",
                            new
                            {
                                @SortOrder = ViewBag.SortOrder,
                                @CurrentSort = ViewBag.CurrentSort,
                                @PreviousSort = ViewBag.PreviousSort,
                                @CurrentPage = ViewBag.CurrentPage,
                                @PreviousPage = ViewBag.PreviousPage,
                                @gotopage = true,
                            }, new {@id = "button101", @type = "button", @class = "btn btn-success btn-block"})
                    </div>*@
            <div class="col-md-6 col-lg-3">
                <div class="input-group RKinput-group">
                    @*<label for="sel3" class="text-secondary">Elements per page</label>*@
                    <select class="form-control" id="sel32">
                        <option selected>1</option>
                        <option value="2">2</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="40">40</option>
                        <option value="80">80</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                        <option value="400">400</option>
                        <option value="800">800</option>
                        <option value="1000">1000</option>
                    </select>
                    <span class="input-group-addon" id="basic-addon11"> Items/Page</span>
                </div>
            </div>

            @*<div class="col-md-6">
                        <div class="form-group">
                            <label for="sel3" class="RKtext-secondary">Elemenets/Page</label>
                            <select class="form-control" id="sel3">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="4">4</option>
                                <option value="8">8</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="40">40</option>
                                <option value="80">80</option>
                                <option value="100">100</option>
                                <option value="200">200</option>

                            </select>
                        </div>
                    </div>*@

            <div class="col-md-3">
                @*<label for="button102" class="RKtext-transparentOnGrey">--</label>*@
                <input type="button" id="button1021" class="btn btn-success btn-block RKbtn" onclick="button1021()" value="Get data">
                @*@Html.ActionLink("Go to page", "Index", "Employee",
                        new
                        {
                            @SortOrder = ViewBag.SortOrder,
                            @CurrentSort = ViewBag.CurrentSort,
                            @PreviousSort = ViewBag.PreviousSort,
                            @CurrentPage = ViewBag.CurrentPage,
                            @PreviousPage = ViewBag.PreviousPage,
                            @gotopage = true
                        }, new { @id = "button101", @type = "button", @class = "btn btn-primary btn-block" })*@
            </div>
        </div>

    </div>
</div>
                


@*<div class="panel-footer">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>*@
</div>

<!--
<div class="container">
    <div id="spinner1" class="spinner-border text-primary d-none" role="status"></div>
</div>
<div id="Tab1">

</div>
-->

<br />


<div class="container">
    <div id="spinner11" class="spinner-border text-primary d-none" role="status"></div>
</div>
<div id="Tab11">

</div>


<!-- Points List -->


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
@*<script src="~/Scripts/bootstrap-4.3.1/bootstrap.js"></script>*@
<!--<script src="~/Scripts/jquery-1.10.2.js"></script>--> @*@was working with the radio button*@

<script type="text/javascript">


    /* Users' section */
    $("#button100").click(
        function() {
            var vpage = $("#inputDefault").val();
            var href = $("#button100").attr('href');
            console.log('href:' + href);

            var res = href.split("&");
            console.log('substring:' + res);
            res[3] = "CurrentPage=" + vpage;

            //new href
            href = res[0] + '&' + res[1] + '&' + res[2] + '&' + res[3] + '&' + res[4] + '&' + res[5];
            //replace the old href
            $("#button100").attr("href", href);
            //verification purpose
            var nb = $("#button100").attr("href");
            console.log('End:');
        });

    $("#btn_2").click(function() {
        console.log('btn_2 clicked');
        $("#Filter_1").attr("class", "panel-body collapse");
        //verification purpose
        var nb = $("#Filter_1").attr("href");
        console.log(nb);
    });

    $("#btn_1").click(function() {
        console.log('btn_2 clicked');
        $("#Filter_1").attr("class", "panel-body");
        //verification purpose
        var nb = $("#Filter_1").attr("href");
        console.log(nb);
    });

    $("#btn_3").click(function() {
        console.log('btn_3 clicked');
        $("#Sorting_1").attr("class", "panel-body");
        //verification purpose
        var nb = $("#Sorting_1").attr("href");
        console.log(nb);
    });

    $("#btn_4").click(function() {
        console.log('btn_4 clicked');
        $("#Sorting_1").attr("class", "panel-body collapse ");
        //verification purpose
        var nb = $("#Sorting_1").attr("href");
        console.log(nb);
    });

    //clear filter
    $("#btn_5").click(function() {
        console.log('btn_5 clicked');
        $("#user_name").val('');
        $("#email").val('');


    });


    $("#button102").click(
        function() {
            console.log('button102 pressed JS .click:');
        });


    //******************** Users *******************************************
    function button102() {

        //hide the points panel
        $('#PointsId').attr('style', 'display:none;'); //add visibility
        //

        console.log('Button102 pressed by OnClick:');
        //hide tab
        $('#Tab1').hide();
        //spinner
        $('#spinner1').removeClass('d-none');
        //filter
        var vfilterName = $("#user_name").val();
        var vfilterEmail = $("#email").val();


        console.log('UserName:' + vfilterName);
        console.log('Email:' + vfilterEmail);


        //Sorting
        var vSortingColumn = $("#sel1").val();
        var vSortingOrder = $("#sel2").val();

        console.log('UserName:' + vSortingColumn);
        console.log('Email:' + vSortingOrder);
        //pageSize
        var vPageSize = $("#sel3").val();
        console.log('PageSize:' + vPageSize);

        //http://192.168.1.186:15883/Account/IndexTableActionResult?userName=&email=&sortColumn=User+Name&sortOrder=Asc&currentpage=1&ppageSize=1
        $.get("/Access/IndexTableActionResult",
            {
                userName: vfilterName,
                email: vfilterEmail,
                sortColumn: vSortingColumn,
                sortOrder: vSortingOrder,
                currentpage: 1,
                ppageSize: vPageSize

            },
            function(response) {
                $('#Tab1').show();
                $('#spinner1').addClass('d-none');
                console.log('After call:');
                //replace the entire page
                $("#Tab1").html(response);
            });

        //public ActionResult Index(string employeeName, string email, string phoneNumber,int ? salary, string sortColumn, string sortOrder, int? currentpage, int? ppageSize)


    };

    //Previous page
    function button104() {
        console.log('Button104 clicked');
        var vfilterName = $("#inputDefault").val();
        console.log(vfilterName);

        //hide tab
        $('#Tab1').hide();
        //spinner
        $('#spinner1').removeClass('d-none');
        //filter
        var vfilterName = $("#user_name").val();
        var vfilterEmail = $("#email").val();


        console.log('Name:' + vfilterName);
        console.log('Email:' + vfilterEmail);


        //Sorting
        var vSortingColumn = $("#sel1").val();
        var vSortingOrder = $("#sel2").val();

        console.log('Name:' + vSortingColumn);
        console.log('Email:' + vSortingOrder);
        //pageSize
        var vPageSize = $("#sel3").val();
        console.log('PageSize:' + vPageSize);

        //http://localhost:8355/Employee/Index/?SortOrder=Name&CurrentSort=Desc&PreviousSort=Desc&CurrentPage=1&PreviousPage=1&gotopage=True
        $.get("/Access/PreviousPageActionResult",
            {
                userName: vfilterName,
                email: vfilterEmail,
                sortColumn: vSortingColumn,
                sortOrder: vSortingOrder,
                currentpage: $("#inputDefault").val(),
                ppageSize: vPageSize

            },
            function(response) {
                $('#Tab1').show();
                $('#spinner1').addClass('d-none');
                console.log('After call:');
                //replace the entire page
                $("#Tab1").html(response);
            });


    }

    //Next page
    function button105() {
        console.log('Button105 clicked');
        var vfilterName = $("#inputDefault").val();
        console.log(vfilterName);

        //hide tab
        $('#Tab1').hide();
        //spinner
        $('#spinner1').removeClass('d-none');
        //filter
        var vfilterName = $("#user_name").val();
        var vfilterEmail = $("#email").val();


        console.log('Name:' + vfilterName);
        console.log('Email:' + vfilterEmail);


        //Sorting
        var vSortingColumn = $("#sel1").val();
        var vSortingOrder = $("#sel2").val();

        console.log('Name:' + vSortingColumn);
        console.log('Email:' + vSortingOrder);
        //pageSize
        var vPageSize = $("#sel3").val();
        console.log('PageSize:' + vPageSize);

        //http://localhost:8355/Employee/Index/?SortOrder=Name&CurrentSort=Desc&PreviousSort=Desc&CurrentPage=1&PreviousPage=1&gotopage=True
        $.get("/Access/NextPageActionResult",
            {
                userName: vfilterName,
                email: vfilterEmail,
                sortColumn: vSortingColumn,
                sortOrder: vSortingOrder,
                currentpage: $("#inputDefault").val(),
                ppageSize: vPageSize

            },
            //partial view of users
            function(response) {
                $('#Tab1').show();
                $('#spinner1').addClass('d-none');
                console.log('After call:');
                //replace the entire page
                $("#Tab1").html(response);
            });

    }

    //delete user open modal
    function button107(a) {
        console.log('function Button107() pressed by OnClick from _Account_IndexTable:');
        var vAspNetUser = a;
        //console.log('AspNetUser:' + vAspNetUser + ' will be deleted');
        $("#user_idDelete").val(vAspNetUser);
        //var vAspNetUserName = $('[Tag1="UserId_4fae574e-328e-4783-b949-8f4b6cb9d1ff"]').val();
        var vAspNetUserName = document.getElementById(vAspNetUser).attributes[2];
        $('#user_idDeleteDelete').val(vAspNetUserName);
        $('#user_nameDelete').val(vAspNetUserName.value);
        $('#myModal').modal('show');
    }


    //delete user call a procedure on DB
    function button108() {
        console.log('function Button108() pressed by OnClick action from a partial view of _Account_IndexTable');
        var vUser = $("#user_idDelete").val();

        $.get("/Account/DeleteUser",
            {
                userId: vUser
            },
            function(response) {
                //clode modal
                $('#myModal').modal('hide');
                //delete a partial view of the table to prevent showing the deleted user
                $('#TablePanel').remove();
                //add a message
                //$("#Message").html(response);
                $(response).insertAfter("#Message2");
            });


    }

    //parameter: b- user id, 
    //Edit User's details;
    function button106(b) {


    }

    var idUser = "";

    
    function button1090() {
        
        console.log('Button Pressed');
        console.log('idUser:' + idUser);

        jQuery("input[name='RB_User']").each(function() {

            if (this.checked) {
                //$("#PointsId").removeAttr("style"); // remove previos 'display= none;'
                $('#PointsId').attr('style', 'display:block;'); //add visibility
                

                //print user's id
                var vinput = this;
                var xx = vinput.attributes[0].nodeValue;
                idUser = xx;
                console.log("user:" + idUser);
            }
            console.log("is checked:" + this.checked);
            console.log('.');
        });
    }
    

    /* Points' section */

    //open filter
    $("#btn_11").click(function () {
        console.log('btn_2 clicked');
        $("#Filter_11").attr("class", "panel-body");
        //verification purpose
        var nb = $("#Filter_11").attr("href");
        console.log(nb);
    });

    //close filter
    $("#btn_21").click(function () {
        console.log('btn_2 clicked');
        $("#Filter_11").attr("class", "panel-body collapse");
        //verification purpose
        var nb = $("#Filter_11").attr("href");
        console.log(nb);
    });

    //clear filter
    $("#btn_51").click(function () {
        console.log('btn_5 clicked');
        $("#point_name").val('');
        $("#table_name").val('');
        $("#database_name").val('');
        $("#Tag1").val('');
        $("#Tag2").val('');
        $("#Tag3").val('');


        


    });


    //sorting open

    $("#btn_31").click(function () {
        console.log('btn_3 clicked');
        $("#Sorting_11").attr("class", "panel-body");
        //verification purpose
        var nb = $("#Sorting_11").attr("href");
        console.log(nb);
    });

    $("#btn_41").click(function () {
        console.log('btn_4 clicked');
        $("#Sorting_11").attr("class", "panel-body collapse ");
        //verification purpose
        var nb = $("#Sorting_11").attr("href");
        console.log(nb);
    });

    /*
    $(document).ready(function () {
      
    });
    */

    /* Access Points*/
    function button1021() {
        console.log('Button1021 pressed by OnClick:');
        //hide tab
        $('#Tab11').hide();
        //spinner
        $('#spinner11').removeClass('d-none');

        //filter
        var vfilterPointName = $("#point_name").val();
        var vfilterTableName = $("#table_name").val();
        var vfilterDatabaseName = $("#database_name").val();
        //filter tags
        var vfilterT1 = $("#Tag1").val();
        var vfilterT2 = $("#Tag2").val();
        var vfilterT3 = $("#Tag3").val();
        //MUT
        var vfilterMUT = $("#MUT").attr('valueid');

        //print to console
        console.log('Point Name:' + vfilterPointName);
        console.log('Table Name:' + vfilterTableName);
        console.log('Database Name:' + vfilterDatabaseName);
        console.log('Tag1:' + vfilterT1);
        console.log('Tag2:' + vfilterT2);
        console.log('Tag3:' + vfilterT3);
        console.log('MUT:' + vfilterMUT);




        //Sorting
        var vSortingColumn = $("#sel12").val();
        var vSortingOrder = $("#sel21").val();

        console.log('Sorting Column:' + vSortingColumn);
        console.log('Sorting Order:' + vSortingOrder);

        //pageSize
        var vPageSize = $("#sel32").val();
        console.log('PageSize:' + vPageSize);

        //http://192.168.1.186:15883/Point/IndexTableActionResult?point=&email=&sortColumn=User+Name&sortOrder=Asc&currentpage=1&ppageSize=1
        $.get("/Access/IndexTableActionResult_2",
            {
                pointName: vfilterPointName,
                tableName: vfilterTableName,
                databaseName: vfilterDatabaseName,
                tag1: vfilterT1,
                tag2: vfilterT2,
                tag3: vfilterT3,
                mutID: vfilterMUT,

                sortColumn: vSortingColumn,
                sortOrder: vSortingOrder,
                currentpage: 1,
                ppageSize: vPageSize,
                userId:idUser

            },
            function (response) {
                $('#Tab11').show();
                $('#spinner11').addClass('d-none');
                console.log('After call:');
                //replace the entire page
                $("#Tab11").html(response);
            });

        //public ActionResult Index(string employeeName, string email, string phoneNumber,int ? salary, string sortColumn, string sortOrder, int? currentpage, int? ppageSize)



        
    };

    //_Access_IndexTable_2
    function selectAll() {
        console.log('Button Pressed');
        //var vRows = document.getElementsByName('item.Access');

        // find all checkbox only that are marks as type of checkbox
        var vRows = $('.custom-checkbox > input[type=checkbox]');

        var vRowsLength = vRows.length;

        vRows.each(function(index, value) {
            console.log(vRows[index].id);
            $('#'+vRows[index].id).removeAttr("checked");
            $('#'+vRows[index].id).checked = false;

            $('#' + vRows[index].id).prop('checked','checked');
            $('#' + vRows[index].id).checked = true;

        });
        


         console.log('End');
        
        };
        
    //_Access_IndexTable_2
    function deselectAll() {
        console.log('Button Pressed');
        //var vRows = document.getElementsByName('item.Access');

        // find all checkbox only that are marks as type of checkbox
        var vRows = $('.custom-checkbox > input[type=checkbox]');

        var vRowsLength = vRows.length;

        vRows.each(function (index, value) {
            console.log(vRows[index].id);
            $('#' + vRows[index].id).removeAttr("checked");
            $('#' + vRows[index].id).checked = false;

            

        });



        console.log('End');

    };

    //Next page
    function button1052() {
        console.log('Button105 clicked');
        var vfilterName = $("#inputDefault2").val();
        console.log(vfilterName);

        //hide tab
        $('#Tab11').hide();
        //spinner
        $('#spinner11').removeClass('d-none');
        //filter
        //filter
        var vfilterPointName = $("#point_name").val();
        var vfilterTableName = $("#table_name").val();
        var vfilterDatabaseName = $("#database_name").val();
        //filter tags
        var vfilterT1 = $("#Tag1").val();
        var vfilterT2 = $("#Tag2").val();
        var vfilterT3 = $("#Tag3").val();
        //No need of MU
        //MUT
        //var vfilterMUT = $("#MUT").attr('valueid');
        var vfilterMUT = "";

        //print to console
        console.log('Point Name:' + vfilterPointName);
        console.log('Table Name:' + vfilterTableName);
        console.log('Database Name:' + vfilterDatabaseName);
        console.log('Tag1:' + vfilterT1);
        console.log('Tag2:' + vfilterT2);
        console.log('Tag3:' + vfilterT3);
        console.log('MUT:' + vfilterMUT);




        //Sorting
        var vSortingColumn = $("#sel12").val();
        var vSortingOrder = $("#sel22").val();

        console.log('Sorting Column:' + vSortingColumn);
        console.log('Sorting Order:' + vSortingOrder);
        //pageSize
        var vPageSize = $("#sel32").val();
        console.log('PageSize:' + vPageSize);

        //http://localhost:8355/Employee/Index/?SortOrder=Name&CurrentSort=Desc&PreviousSort=Desc&CurrentPage=1&PreviousPage=1&gotopage=True
        $.get("/Access/NextPageActionResult2",
            {
                pointName: vfilterPointName,
                tableName: vfilterTableName,
                databaseName: vfilterDatabaseName,
                tag1: vfilterT1,
                tag2: vfilterT2,
                tag3: vfilterT3,
                mutID: vfilterMUT,

                sortColumn: vSortingColumn,
                sortOrder: vSortingOrder,
                currentpage: $("#inputDefault2").val(),
                ppageSize: vPageSize,
                userId: idUser

            },
            //partial view of users
            function (response) {
                $('#Tab11').show();
                $('#spinner11').addClass('d-none');
                console.log('After call:');
                //replace the entire page
                $("#Tab11").html(response);
            });

    }

    //Renard Kabza
	//Inspiron
	
	
	

</script>

